Upwork_project.json
{
  "name": "Upwork-project",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job",
          "mode": "list",
          "cachedResultName": "job"
        },
        "limit": 20,
        "where": {
          "values": [
            {
              "column": "processed",
              "value": "={{false}}"
            },
            {
              "column": "hourly_budget_max",
              "condition": ">",
              "value": "35"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "published_date_time",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -420,
        -180
      ],
      "id": "15a041b8-fba3-44f7-9019-15bfc5803003",
      "name": "GetTabelRecords",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "87U6PnzTCZaOQpcz",
          "name": "Upwork-jobs-database-Neon.tech"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"properties\": {\"Programming\": {\"items\": {\"type\": \"string\"}, \"title\": \"Programming\", \"type\": \"array\"}, \"NLP & RAG\": {\"items\": {\"type\": \"string\"}, \"title\": \"Nlp & Rag\", \"type\": \"array\"}, \"Chatbots\": {\"items\": {\"type\": \"string\"}, \"title\": \"Chatbots\", \"type\": \"array\"}, \"Automation\": {\"items\": {\"type\": \"string\"}, \"title\": \"Automation\", \"type\": \"array\"}, \"Cloud\": {\"items\": {\"type\": \"string\"}, \"title\": \"Cloud\", \"type\": \"array\"}, \"Data\": {\"items\": {\"type\": \"string\"}, \"title\": \"Data\", \"type\": \"array\"}}, \"required\": [\"Programming\", \"NLP & RAG\", \"Chatbots\", \"Automation\", \"Cloud\", \"Data\"], \"type\": \"object\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        360,
        -380
      ],
      "id": "38e77335-641e-46cf-bc80-eac2d10b370a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0,
          "maxRetries": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        -380
      ],
      "id": "f6d48b61-b293-46f6-b2c2-907230780490",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bxBk7WJiYhjGtEii",
          "name": "OpenAi account - iSemantics"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8aff0cd9-cde4-467b-9549-f8705f5c148b",
              "name": "_extracted_skills_str",
              "value": "={{ $('SkillsToString').item.json._extracted_skills_str }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        -620
      ],
      "id": "2172b9eb-2588-4321-a366-4f32bdd9b63a",
      "name": "KeepSkillsStrOnly"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9737776-89d8-4293-9175-68c0aeeb42aa",
              "name": "id",
              "value": "={{ $('GetTabelRecords').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -180
      ],
      "id": "358c559a-fd6e-4d45-919e-dc34992ddc1f",
      "name": "KeepIdOnly"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1100,
        -600
      ],
      "id": "ef07c67c-abde-4fb5-ad34-37102d03557a",
      "name": "MergeIdAndSkills",
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"properties\": {\"budget_attractiveness\": {\"title\": \"Budget Attractiveness\", \"type\": \"integer\"}, \"client_history\": {\"title\": \"Client History\", \"type\": \"integer\"}, \"post_freshness\": {\"title\": \"Post Freshness\", \"type\": \"integer\"}, \"skill_relevance\": {\"title\": \"Skill Relevance\", \"type\": \"integer\"}, \"primary_skill_focus\": {\"title\": \"Primary Skill Focus\", \"type\": \"boolean\"}, \"rationale\": {\"title\": \"Rationale\", \"type\": \"string\"}}, \"required\": [\"budget_attractiveness\", \"client_history\", \"post_freshness\", \"skill_relevance\", \"primary_skill_focus\", \"rationale\"], \"type\": \"object\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1320,
        440
      ],
      "id": "f44a536f-dc6b-490a-a86c-146d31431f99",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0,
          "maxRetries": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1160,
        460
      ],
      "id": "3e50e98f-9565-45ab-959b-0b6cd5eacdc2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "bxBk7WJiYhjGtEii",
          "name": "OpenAi account - iSemantics"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in AI recruitment.\nTask:\n1. From the given Upwork job description, extract all relevant skills, frameworks, and tools—whether explicitly mentioned or implied.\n2. Normalize them (e.g., “Python 3” → “Python”).\n3. Group them under categories: “Programming”, “NLP & RAG”, “Chatbots”, “Automation”, “Cloud”, “Data”.\n\nFormat: Always output valid JSON with six keys: “Programming”, “NLP & RAG”, “Chatbots”, “Automation”, “Cloud”, “Data”.\n\nExamples:\nExample 1 Input:\n\n    “We need a Python developer to build an OpenAI‑powered chatbot using LangChain and Pinecone. Familiarity with Docker, AWS Lambda, and n8n is a plus.”\n\nExample 1 Output:\n{\n  \"Programming\": [\"Python\"],\n  \"NLP & RAG\": [\"OpenAI API\", \"LangChain\", \"Pinecone\"],\n  \"Chatbots\": [\"Custom GPT chatbot\"],\n  \"Automation\": [\"n8n\"],\n  \"Cloud\": [\"Docker\", \"AWS Lambda\"],\n  \"Data\": []\n}\n\nExample 2 Input:\n\n    “Looking for an NLP engineer experienced in spaCy, NLTK, embeddings, vector databases (Weaviate), and prompt engineering. Must integrate with Make.com and Zapier.”\n\nExample 2 Output:\n\n{\n  \"Programming\": [],\n  \"NLP & RAG\": [\"spaCy\", \"NLTK\", \"Embeddings\", \"Vector databases\", \"Prompt engineering\"],\n  \"Chatbots\": [],\n  \"Automation\": [\"Make.com\", \"Zapier\"],\n  \"Cloud\": [],\n  \"Data\": []\n}\n\nNow process the Upwork job post below:\n\"\"\"\nJob Title:\n{{ $('GetTabelRecords').item.json.title }}\n\nJob Description:\n{{ $('GetTabelRecords').item.json.description }}\n\"\"\"",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        180,
        -620
      ],
      "id": "13440ddc-6a52-4474-8651-01fd5f83d3e4",
      "name": "ExtractSkills",
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "for item in _input.all():\n  skill_list = []\n  for key, value in item.json.output.items():\n    skill_list.extend(value)\n    skills_str = ' || '.join(list(set(skill_list)))\n    item.json._extracted_skills_str = skills_str\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -620
      ],
      "id": "419bcaf1-2ca8-4a63-97e3-231a7003bdaa",
      "name": "SkillsToString",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job",
          "mode": "list",
          "cachedResultName": "job"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('MergeIdAndSkills').item.json.id }}",
            "_extracted_skills_str": "={{ $('MergeIdAndSkills').item.json._extracted_skills_str }}",
            "processed": true
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_applicants",
              "displayName": "total_applicants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "preferred_freelancer_location",
              "displayName": "preferred_freelancer_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "preferred_freelancer_location_mandatory",
              "displayName": "preferred_freelancer_location_mandatory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "premium",
              "displayName": "premium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount_raw_value",
              "displayName": "amount_raw_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount_currency",
              "displayName": "amount_currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount_display_value",
              "displayName": "amount_display_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hourly_budget_type",
              "displayName": "hourly_budget_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hourly_budget_min",
              "displayName": "hourly_budget_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hourly_budget_max",
              "displayName": "hourly_budget_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_not_sure_fields",
              "displayName": "client_not_sure_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_private_fields",
              "displayName": "client_private_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "freelancer_client_relation",
              "displayName": "freelancer_client_relation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "local_job_user_distance",
              "displayName": "local_job_user_distance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weekly_budget_raw_value",
              "displayName": "weekly_budget_raw_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weekly_budget_currency",
              "displayName": "weekly_budget_currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weekly_budget_display_value",
              "displayName": "weekly_budget_display_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagement_duration_id",
              "displayName": "engagement_duration_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagement_duration_label",
              "displayName": "engagement_duration_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagement_duration_weeks",
              "displayName": "engagement_duration_weeks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_edc_user_id",
              "displayName": "client_edc_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_hires",
              "displayName": "client_total_hires",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_posted_jobs",
              "displayName": "client_total_posted_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_spent",
              "displayName": "client_total_spent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_city",
              "displayName": "client_location_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_country",
              "displayName": "client_location_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_timezone",
              "displayName": "client_location_timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_state",
              "displayName": "client_location_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_offset_to_utc",
              "displayName": "client_location_offset_to_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_reviews",
              "displayName": "client_total_reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_feedback",
              "displayName": "client_total_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_company_rid",
              "displayName": "client_company_rid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_company_name",
              "displayName": "client_company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_last_contract_platform",
              "displayName": "client_last_contract_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_last_contract_rid",
              "displayName": "client_last_contract_rid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_last_contract_title",
              "displayName": "client_last_contract_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_has_financial_privacy",
              "displayName": "client_has_financial_privacy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "occupations_category_id",
              "displayName": "occupations_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "occupations_category_pref_label",
              "displayName": "occupations_category_pref_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_date_time",
              "displayName": "created_date_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "published_date_time",
              "displayName": "published_date_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_extracted_skills_str",
              "displayName": "_extracted_skills_str",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "queryBatching": "transaction"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2640,
        -740
      ],
      "id": "b5504971-f201-49d9-a617-df2c8866bbee",
      "name": "UpdateDataWithSkills",
      "credentials": {
        "postgres": {
          "id": "87U6PnzTCZaOQpcz",
          "name": "Upwork-jobs-database-Neon.tech"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.published_date_time }}",
        "format": "yyyy-MM-dd",
        "outputFieldName": "published_date",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        140,
        220
      ],
      "id": "3560a12c-4ee8-437b-8877-819618054e97",
      "name": "GetJobPostDate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5d84c1d-eb43-43ce-8974-6c8e5a9031d8",
              "name": "total_applicants",
              "value": "={{ $('GetJobPostDate').item.json.total_applicants }}",
              "type": "number"
            },
            {
              "id": "5e80c95e-f814-449a-a45e-ee3c8754af34",
              "name": "hourly_budget_min",
              "value": "={{ $('GetJobPostDate').item.json.hourly_budget_min}}",
              "type": "number"
            },
            {
              "id": "0df39bc7-cbfd-42f7-be6e-27ece49b88aa",
              "name": "hourly_budget_max",
              "value": "={{ $('GetJobPostDate').item.json.hourly_budget_max }}",
              "type": "number"
            },
            {
              "id": "2db2ee11-00ec-41cb-bfbb-18baf8080c15",
              "name": "client_total_hires",
              "value": "={{ $('GetJobPostDate').item.json.client_total_hires }}",
              "type": "number"
            },
            {
              "id": "5ab973df-a250-4c57-b840-83fa99d00500",
              "name": "client_total_spent",
              "value": "={{ $('GetJobPostDate').item.json.client_total_spent }}",
              "type": "string"
            },
            {
              "id": "68c72cc9-e09a-42f9-837b-79b8e5ae4c17",
              "name": "client_total_feedback",
              "value": "={{ $('GetJobPostDate').item.json.client_total_feedback }}",
              "type": "number"
            },
            {
              "id": "cd2c0fd5-298e-4292-8bbf-2673f39ef377",
              "name": "client_total_reviews",
              "value": "={{ $('GetJobPostDate').item.json.client_total_reviews }}",
              "type": "number"
            },
            {
              "id": "2e7fe997-3457-4d93-9158-9f41dfa92986",
              "name": "amount_raw_value",
              "value": "={{ $('GetJobPostDate').item.json.amount_raw_value}}",
              "type": "string"
            },
            {
              "id": "91ebe4ec-8fed-4c0b-a0dd-b77ddce36b9d",
              "name": "post_freshness",
              "value": "={{ $('CalculateJobFreshness').item.json.post_freshness }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        220
      ],
      "id": "56540bb2-c6c4-48df-b4f9-6653ad80bee7",
      "name": "SelectImportandMetadata"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport json\n\nfor item in _input.all():\n  item.json.json_str = json.dumps(dict(item.json))\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        220
      ],
      "id": "e8239128-9610-4362-82fb-497ab89a057c",
      "name": "ConvertMetadataJsonToString"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Score the job post based on the following aspects.\n\n## Budget Attractiveness (0–3 points):\n- Hourly:\n    * $0-34 ➔ 0 points\n    * $35–49 ➔ 1 or 2 points\n    * $50+ ➔ 3 points\n- Fixed-Price:\n    * $0-999 ➔ 0 points\n    * $1k–4.9k ➔ 1 or 2 points\n    * $5k+ ➔ 3 points\n\n## Client History (0–3 points):\n    * 1 pt if client_total_hires > 0.\n    * 1 pt if client_total_feedback ≥ 4.5.\n    * 1 pt if client_total_spent > 2k.\n\n## Post Freshness (0–3 points):\n    * 0–1 days ➔ 3 pts\n    * 2–3 days ➔ 2 pts\n    * 4–7 days ➔ 1 pt\n    * 8–28 days ➔ 0 pts.\n\n## Skill Relevance (0–5 points):\n    * +5 pts: Job post explicitly requires 3+ skills from the given skills.\n    * +3 pts: 2 skills match the given skills.\n    * +1 pt: 1 skill aligns with the given skills\n    * 0 pts: No overlap.\n\n## Primary Skill Focus (Boolean):\n    * True if either:\n        1. The job title/description emphasizes skills matching the \"Given Skills\" as core requirements, OR\n        2. >50% of mentioned technical requirements match the \"Given Skills\"\n    * False if:\n        1. Matching skills are listed as secondary/nice-to-have, OR\n        2. Project primarily focuses on other domains with the \"Given Skills\" as supplementary\n\n**Output Format**:\n- Your output should be a JSON object as follows:\n{\n\"budget_attractiveness\": <Budget Attractiveness (0–3 points)>,\n\"client_history\": <Client History (0–3 points)>,\n\"post_freshness\": <Post Freshness (0–3 points)>,\n\"skill_relevance\": <Skill Relevance (0–5 points)>,\n\"primary_skill_focus\": <boolean>,\n\"rationale\": <Concise explanation of scoring factors>\n}\n\n## Upwork job post:\n{{ $('GetTabelRecords').item.json.title }}\n\n{{ $('GetTabelRecords').item.json.description }}\n\n## Upwork job post metadata:\n{{ $('ConvertMetadataJsonToString').item.json.json_str }}\n\n## Given skills:\n1. General AI and Machine Learning\n2. Natural Language Processing (NLP)\n3. Large Language Models (LLMs), and LLM fine-tuning\n4. Conversational AI and Chatbots\n5. Retrieval-Augmented Generation (RAG)\n6. AI Agents, Multi-Agent system\n7. LLM Fine-Tuning Techniques\n8. API Integration\n9. Workflow Automation\n10. Code-Based Tools such as [TensorFlow, PyTorch, Scikit-learn, AWS SageMaker, MLflow, Kubeflow, Azure ML, spaCy, Hugging Face Transformers, NLTK, Stanford NLP, LangChain, LlamaIndex, OpenAI API, Anthropic API, LoRA, QLoRA, Hugging Face Fine-Tuning, OpenAI Fine-Tuning API, Parameter-Efficient Fine-Tuning (PEFT), LangGraph, CrewAI, AutoGen, Semantic Kernel, BabyAGI, Haystack, Pinecone, Weaviate, Milvus, Docker, Kubernetes, Flask, FastAPI, AWS, Google Cloud, Azure, Cloud AI, Rasa, PyCaret, Git].\n11. No-Code/Low-Code Tools such as [Dialogflow, Microsoft Bot Framework, Alexa Skills, Google Actions, Botpress, Zapier, Make.com, n8n, Airtable, Voiceflow, Dify AI, Relevance AI, Akkio, No-code LLM Fine-Tuning (platforms like Dify), AutoML (Google AutoML, H2O LLM Studio), Data Annotation Tools (e.g., Label Studio)]",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1140,
        220
      ],
      "id": "04e337df-3755-4880-a323-6b6ca7d06083",
      "name": "ScoreJobPost",
      "executeOnce": false
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  score = 0\n  for key, value in item.json.output.items():\n    if key not in ['rationale', 'primary_skill_focus']:\n      score += value\n  item.json.score = score\n  item.json.primary_skill_focus = item.json.output.primary_skill_focus\n  item.json.rationale = item.json.output.rationale\n  del item.json.output\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        220
      ],
      "id": "10d28095-42ba-4983-88cf-16e0464c04b6",
      "name": "ProcessScoreOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1760,
        220
      ],
      "id": "3cfb46c6-20ef-4d0f-8dc9-7e4380d77bc5",
      "name": "MergeIdAndScore"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job",
          "mode": "list",
          "cachedResultName": "job"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": true,
            "id": "={{ $('GenerateJobLink').item.json.id }}",
            "_score": "={{ $('GenerateJobLink').item.json._score }}",
            "_rationale": "={{ $('GenerateJobLink').item.json._rationale }}",
            "_job_link": "={{ $('GenerateJobLink').item.json._job_link }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_applicants",
              "displayName": "total_applicants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "preferred_freelancer_location",
              "displayName": "preferred_freelancer_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "preferred_freelancer_location_mandatory",
              "displayName": "preferred_freelancer_location_mandatory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "premium",
              "displayName": "premium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount_raw_value",
              "displayName": "amount_raw_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount_currency",
              "displayName": "amount_currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount_display_value",
              "displayName": "amount_display_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hourly_budget_type",
              "displayName": "hourly_budget_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hourly_budget_min",
              "displayName": "hourly_budget_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hourly_budget_max",
              "displayName": "hourly_budget_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_not_sure_fields",
              "displayName": "client_not_sure_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_private_fields",
              "displayName": "client_private_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "freelancer_client_relation",
              "displayName": "freelancer_client_relation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "local_job_user_distance",
              "displayName": "local_job_user_distance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weekly_budget_raw_value",
              "displayName": "weekly_budget_raw_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weekly_budget_currency",
              "displayName": "weekly_budget_currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weekly_budget_display_value",
              "displayName": "weekly_budget_display_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagement_duration_id",
              "displayName": "engagement_duration_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagement_duration_label",
              "displayName": "engagement_duration_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engagement_duration_weeks",
              "displayName": "engagement_duration_weeks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_edc_user_id",
              "displayName": "client_edc_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_hires",
              "displayName": "client_total_hires",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_posted_jobs",
              "displayName": "client_total_posted_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_spent",
              "displayName": "client_total_spent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_city",
              "displayName": "client_location_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_country",
              "displayName": "client_location_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_timezone",
              "displayName": "client_location_timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_state",
              "displayName": "client_location_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_location_offset_to_utc",
              "displayName": "client_location_offset_to_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_reviews",
              "displayName": "client_total_reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_total_feedback",
              "displayName": "client_total_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_company_rid",
              "displayName": "client_company_rid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_company_name",
              "displayName": "client_company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_last_contract_platform",
              "displayName": "client_last_contract_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_last_contract_rid",
              "displayName": "client_last_contract_rid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_last_contract_title",
              "displayName": "client_last_contract_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_has_financial_privacy",
              "displayName": "client_has_financial_privacy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "occupations_category_id",
              "displayName": "occupations_category_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "occupations_category_pref_label",
              "displayName": "occupations_category_pref_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_date_time",
              "displayName": "created_date_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "published_date_time",
              "displayName": "published_date_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "_extracted_skills_str",
              "displayName": "_extracted_skills_str",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "_score",
              "displayName": "_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "_rationale",
              "displayName": "_rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "_job_link",
              "displayName": "_job_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2640,
        -500
      ],
      "id": "437bed8c-cdaa-4e4b-82b8-6cbd394f7f8b",
      "name": "UpdateDataWithScore",
      "credentials": {
        "postgres": {
          "id": "87U6PnzTCZaOQpcz",
          "name": "Upwork-jobs-database-Neon.tech"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update The Table",
        "height": 500,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        -800
      ],
      "typeVersion": 1,
      "id": "b0bdb2fa-d9e1-4b12-b9ee-a413a57dcad2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Score Job Post\n",
        "height": 540,
        "width": 2020,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        100
      ],
      "typeVersion": 1,
      "id": "6f797632-3579-4908-ab7c-046808a52c43",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Extract Skills \n",
        "height": 480,
        "width": 1180,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -720
      ],
      "id": "f8d21fce-1bf5-4453-ab4c-8cc269a77cf5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "#### Skills Post Processing",
        "height": 260,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        -680
      ],
      "id": "45a5211d-0c38-4867-bb57-000d4f5b6c91",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "#### Score Post Processing",
        "height": 200,
        "width": 620,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        180
      ],
      "id": "86b5d1b0-e08f-445f-aee2-1a11f799c6e4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "#### Data Pre Processing",
        "height": 420,
        "width": 980,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        160
      ],
      "id": "a5aa724c-853d-486f-8587-2e66d6c95cce",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Send Top Prjects \n",
        "height": 820,
        "width": 1980,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3180,
        -180
      ],
      "id": "85cc4dda-2e31-475f-9aeb-b76dac3addef",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "18MaMyLswAT7BOFySEAQp7KIRE3JTFin7f9zy5GtbaQg",
          "mode": "list",
          "cachedResultName": "Top-Projects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18MaMyLswAT7BOFySEAQp7KIRE3JTFin7f9zy5GtbaQg/edit?usp=drivesdk"
        },
        "title": "={{ $now.format('yyyy-MM-dd') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3940,
        -100
      ],
      "id": "dad09536-3814-475e-ac47-1bd2859c3e41",
      "name": "CreateGoogleSheet",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y4crf1I0vXmQxI1H",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  for key, value in item.json.items():\n    if key=='id':\n      continue\n    new_key = '_'+key\n    item.json[new_key] = value\n    del item.json[key]\n  item.json._job_link = f\"https://www.upwork.com/jobs/~02{item.json.id}\"\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        220
      ],
      "id": "9882a886-7c1e-44e5-89ea-3c6979f64118",
      "name": "GenerateJobLink"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"properties\": {\"cover_letter\": {\"title\": \"Cover Letter\", \"type\": \"string\"}}, \"required\": [\"cover_letter\"], \"type\": \"object\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2740,
        420
      ],
      "id": "0f1a231b-6226-4fc3-aa4b-dccb0227d756",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.7,
          "maxRetries": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2580,
        420
      ],
      "id": "bbe0caff-e9a5-4be5-a25e-d9391f85e36f",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "bxBk7WJiYhjGtEii",
          "name": "OpenAi account - iSemantics"
        }
      }
    },
    {
      "parameters": {
        "content": "## Generate Cover Letter\n",
        "height": 540,
        "width": 920,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2220,
        100
      ],
      "id": "4d819ea0-42ef-405d-b135-5515564f08e2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert AI Engineer specializing in NLP, LLMs, RAG, chatbots, and AI automation. Craft a persuasive Upwork cover letter for a job post by combining the client’s requirements with the candidate’s skills and past projects.\nThe cover letter should resemble cover letters used by freelancers on Upwork.\n\n## Inputs Provided:\n### Job Post:\n\"\"\"\n{{ $('GetTabelRecords').item.json.title }}\n\n{{ $('GetTabelRecords').item.json.description }}\n\n\"\"\"\n### Candidate’s Skills:\n\"\"\"\nNLP, Chatbots, text classification, LangChain, LlamaIndex, AWS, Azuer, CrewAI, AutoGen, LangGraph, LangSmith, Retrieval Augmented Generation (RAG), AI agents, Multi-agent Systems, LLMs, LLM fine-tuning, RLHF, Supervised Fine-Tuning, Parameter-Efficient Fine-Tuning, LoRA, Open source LLMs, Information Extraction, Adapter Tuning, QLoRA, OpenAI, APIs, FastAPI, Databases, Automation, Workflow Automation, Autonomous Systems, no-code platforms (such as n8n, make.com, Relevance AI, Zapier, etc.)\n\"\"\"\n### Candidate’s Past Projects:\n\"\"\"\n1. AI-Powered CV Parser & Scoring System\n\n        Description: Developed a GPT-4-driven pipeline to extract structured data (personal info, education, work history, skills) from unstructured CVs. Engineered a scoring algorithm to rank resumes against job descriptions with 94% micro f1 score (accuracy metric) , reducing hiring costs to about $1 per 1,000 CVs processed.\n\n        Tools: LLMs, GPT-4, Python, NLP, RAG PyPDF, Unstructred.io, text extraction, cost-optimized workflows.\n\n        Impact: Streamlined recruitment for HR clients, reducing manual screening time.\n\n2. Real Estate Search Chatbot with RAG & Multi-Agent Workflow\n\n        Description: Built a conversational AI chatbot that collects user preferences (bedrooms, location, budget) and dynamically generates SQL queries to fetch matching properties. Integrated RAG for answering FAQs from real estate PDFs (e.g., developers information, etc.), reducing customer search time.\n\n        Tools: LLMs, LangChain, LangGraph, RAG, vector stores, OpenAI API, SQL, AI agent orchestration, AWS, Azure.\n\n\n3. Upwork Job Matching Automation with n8n & AI Agents\n\n        Description: Automated Upwork job discovery by fetching projects via API, filtering them with AI, and storing matches in Postgres database. Reduced job-search time by prioritizing roles aligned with my skills.\n\n        Tools: n8n, LLMs, Upwork API, Postgres, Python scripting, automation, AI agents, GPT-4, no code platforms.\n\n        Impact: Scaled proposal submissions for high-relevance projects.\n\"\"\"\n\n## Instructions:\n\n### Analyze the Job Post:\n\n        * Identify the client’s key requirements (e.g., “LLM fine-tuning,” “multilingual chatbot,” “AI automation workflow”).\n\n        * Note industry-specific terms or tools mentioned (e.g., “Hugging Face,” “AWS,” “CI/CD pipelines”).\n\n### Match Skills & Projects:\n\n        * Prioritize skills/projects that align with the job’s keywords.\n\n        * Highlight quantifiable achievements (e.g., “improved accuracy by 25%”).\n\n### Structure the Letter:\n\n        * Opening: Start with enthusiasm and personalization (use the client’s name if known).\n\n        * Body:\n\n            Mention 1-2 relevant projects, focusing on results and tools used.\n\n            Explain how your skills solve their specific problem (e.g., “My experience with RAG pipelines ensures accurate document retrieval for your legal chatbot”).\n\n        * Closing: Add a call to action (e.g., “Let’s discuss how I can deploy a scalable chatbot for your SaaS platform”).\n        * Add the following as a final paragraph (keep it concise):\n\n          \"As someone passionate about AI and automation, I discovered your job using a custom system I built with n8n and AI agents to score Upwork posts. Your project ranked highly for its [add specific strengths about this specific job that aligns with my skills]. Even this draft was initially generated by AI, but every word has been reviewed by me to ensure it aligns with your needs. I’d love to bring this same efficiency and precision to your project!\"\n\n    * Tone & Format:\n        Natural language: Use contractions (e.g., \"I’m\" instead of \"I am\"), avoid jargon unless necessary, and vary sentence length.\n\n        Avoid clichés: Phrases like “leveraging cutting-edge solutions” or “synergistic workflows” are banned.\n      \n        Flow: Start with a personal connection to the project (e.g., “Your focus on X resonated with me because…”).\n\n        Keep it concise (200-300 words).\n\n        Use bullet points for technical achievements if needed.\n\n        Include a portfolio link if available (e.g., GitHub, live demo).\n\n        The generated cover letter should be in plain text (don't use Markdown formatting)\n\n\n## Output Format:\n\t* Your output should be in JSON format: {\"cover_letter\": <your generated cover letter in plain text\">}\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2580,
        200
      ],
      "id": "1742ef3e-8c8f-4fb4-afde-1abb168cc979",
      "name": "GenerateCoverLetter",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ddc8d8ce-95f1-41fc-89df-a090318ca71a",
              "leftValue": "={{ $('GenerateJobLink').item.json._score }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2300,
        200
      ],
      "id": "ea14b55d-cd88-4565-9e26-3dcb11f29529",
      "name": "KeepHighScoreJobs"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json['_cover_letter'] = item.json.output.cover_letter\n    \n  del item.json.output\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        200
      ],
      "id": "3e84bdf8-ea9f-4064-8107-24a18bfd5ece",
      "name": "ProcessCoverLetterOutput"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $now.format('yyyy-MM-dd') }} Top Upwork Projects"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3780,
        420
      ],
      "id": "f7cf7a7e-b62d-4a25-a92e-4f1e571859b0",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "_score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        3600,
        120
      ],
      "id": "f1f5a9ad-ba25-4080-929e-fe153ce6b468",
      "name": "Sort"
    },
    {
      "parameters": {
        "sendTo": "ahmedelshehawy64@gmail.com",
        "subject": "=Top Upwork Projects For Today {{ $now.format('yyyy-MM-dd') }}",
        "message": "Find attached file for projects and suggested cover letters",
        "options": {
          "appendAttribution": true,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4120,
        660
      ],
      "id": "17f31045-dd60-4102-b771-2b2705c6aa8f",
      "name": "Gmail1",
      "webhookId": "71e77974-4fb6-43d2-acbf-c58ddf45f552",
      "credentials": {
        "gmailOAuth2": {
          "id": "9lIrppH7ek7zi0UH",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "hisham@isemantics.ai",
        "subject": "=Top Upwork Projects For Today {{ $now.format('yyyy-MM-dd') }}",
        "message": "Find attached file for projects and suggested cover letters",
        "options": {
          "appendAttribution": true,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3940,
        820
      ],
      "id": "c72086c9-801b-490b-b6a7-a012dff0d2a7",
      "name": "Gmail2",
      "webhookId": "71e77974-4fb6-43d2-acbf-c58ddf45f552",
      "credentials": {
        "gmailOAuth2": {
          "id": "9lIrppH7ek7zi0UH",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        4560,
        -120
      ],
      "id": "f3b4bde3-2339-4067-afce-b141ec507cc1",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "content": "## Preprocessing\n",
        "height": 180,
        "width": 200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2260,
        160
      ],
      "id": "60018509-d4b8-4857-a01a-bb503c57b8fe",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime, timedelta\n\nten_days_earlier = datetime.today() - timedelta(days=10)\nten_days_earlier = ten_days_earlier.strftime('%Y-%m-%d')\n\nfor item in _input.all():\n  item.json.to_delete = ten_days_earlier\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4620,
        400
      ],
      "id": "f6ab3297-9b87-4fe7-9988-548f84c00212",
      "name": "SheetToDelete",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Delete Old Sheets \n",
        "height": 300,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4540,
        300
      ],
      "id": "91986dbd-6e8c-4fec-b3cf-de6d9664de33",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "sendTo": "hisham@isemantics.ai",
        "subject": "Top Upwork Projects",
        "message": "=Top Upwork Projects For You: \nhttps://docs.google.com/spreadsheets/d/{{ $('CreateGoogleSheet').item.json.spreadsheetId }}/edit#gid={{ $('CreateGoogleSheet').item.json.sheetId }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4960,
        -120
      ],
      "id": "f5f281de-e1e1-4373-b41b-b42954b6746a",
      "name": "SendTopProjectsLink",
      "webhookId": "255574bd-a35e-44da-8662-f903aa6dcb8f",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "9lIrppH7ek7zi0UH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('CreateGoogleSheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('CreateGoogleSheet').item.json.sheetId}}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_job_link",
              "displayName": "_job_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_score",
              "displayName": "_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_rationale",
              "displayName": "_rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_cover_letter",
              "displayName": "_cover_letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4760,
        -120
      ],
      "id": "ca1aa1c0-243d-4a82-8def-c8560d126404",
      "name": "AddTopProjects",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y4crf1I0vXmQxI1H",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c4d1d6a-12ce-4178-a350-1710caf5552d",
              "name": "id",
              "value": "={{ $('Sort').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f6bc16a1-8bb0-41bd-ae77-7543e9a61af7",
              "name": "_job_link",
              "value": "={{ $('Sort').item.json._job_link }}",
              "type": "string"
            },
            {
              "id": "6dd8fc85-282a-42bc-9e63-2939a7821596",
              "name": "_score",
              "value": "={{ $('Sort').item.json._score }}",
              "type": "number"
            },
            {
              "id": "dca0aafb-a504-4f63-b966-fc1feea93232",
              "name": "_rationale",
              "value": "={{ $('Sort').item.json._rationale }}",
              "type": "string"
            },
            {
              "id": "1cbd15b9-9753-4cab-8089-b8334771e75a",
              "name": "_cover_letter",
              "value": "={{ $('Sort').item.json._cover_letter }}",
              "type": "string"
            },
            {
              "id": "99324704-b01d-429a-b0bc-f3cab436dcd6",
              "name": "_primary_skill_focus",
              "value": "={{ $('Sort').item.json._primary_skill_focus }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4340,
        -120
      ],
      "id": "4f83c291-ea3d-4b33-8188-715c722f6061",
      "name": "RemoveUnwantedColumns"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4120,
        160
      ],
      "id": "dd953bf3-8598-4bd6-a808-5c6dcd4fc754",
      "name": "GetProjects",
      "notes": "This step is mandatory, as the subsequent node of adding rows to the created sheets requires access the output of the CreateGoogleSheet node.\n\nAnd for any node, to be able to access a previous node, it should be attached to it."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "164391a4-fea2-46f8-83bb-e40d4a238f83",
              "name": "id",
              "value": "={{ $('KeepHighScoreJobs').item.json.id }}",
              "type": "string"
            },
            {
              "id": "3cdbd5fb-4ff7-491a-85f1-c004ca94d78d",
              "name": "_job_link",
              "value": "={{ $('KeepHighScoreJobs').item.json._job_link }}",
              "type": "string"
            },
            {
              "id": "b2027beb-e1be-4644-9d47-1ad03044b751",
              "name": "_score",
              "value": "={{ $('KeepHighScoreJobs').item.json._score }}",
              "type": "number"
            },
            {
              "id": "6c0d0e66-ae7b-4785-aba0-7eb7b92e8c4f",
              "name": "_primary_skill_focus",
              "value": "={{ $('KeepHighScoreJobs').item.json._primary_skill_focus }}",
              "type": "boolean"
            },
            {
              "id": "ea3b18e6-af30-4f5a-a8b0-5a2cc94e2fae",
              "name": "_rationale",
              "value": "={{ $('KeepHighScoreJobs').item.json._rationale }}",
              "type": "string"
            },
            {
              "id": "beb5eab2-4992-4c16-83c2-0e79312ca302",
              "name": "_cover_letter",
              "value": "={{ $('ProcessCoverLetterOutput').item.json._cover_letter }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3340,
        120
      ],
      "id": "b0fb23f6-403f-41f6-975d-afe4814fbb50",
      "name": "CombineResults"
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ $('CreateGoogleSheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('SheetToDelete').first().json.to_delete }}",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4880,
        400
      ],
      "id": "768b9b58-3b64-4aa8-a5dc-adb699888d61",
      "name": "RemoveOldSheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y4crf1I0vXmQxI1H",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Combine resutls\n  \n\n\n\n\n\n\n\n\n\n\n\n\n\n#### Combine the features of high score jobs with their cover letters\n\n",
        "height": 320,
        "width": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3260,
        40
      ],
      "id": "b5143518-3cf2-4b6a-a074-021a1e5283d5",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport json\nfrom datetime import date, datetime\n\ntoday = date.today()\nformatted_date = today.strftime(\"%Y-%m-%d\")\ndate1 = datetime.strptime(formatted_date, \"%Y-%m-%d\").date()\n\nprint(date1)\nfor item in _input.all():\n  # item.json.today_date = formatted_date\n  item.json.post_freshness = (date1 - datetime.strptime(item.json.published_date, \"%Y-%m-%d\").date()).days\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        420
      ],
      "id": "45ed202f-82d0-4351-b2ef-238da82a2e84",
      "name": "CalculateJobFreshness"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "for item in _input.all():\n  hour_max = item.json.hourly_budget_max\n  fixed_price = float(item.json.amount_raw_value)\n  keep = False\n  if hour_max:\n    if hour_max >= 35:\n      keep = True\n  elif fixed_price >= 1000:\n    keep = True\n  item.json.keep = keep\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        420
      ],
      "id": "18c70aaf-1cdf-4e8f-9c15-643a0e517806",
      "name": "CalculateUnwantedPosts"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6a5a3bb-a159-4570-8dfe-d5000ba8bcb5",
              "leftValue": "={{ $('CalculateUnwantedPosts').item.json.keep}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        640,
        220
      ],
      "id": "d4821345-638c-435e-8b47-92607b19bf09",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "keep",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        420
      ],
      "id": "389bfb14-a54a-4dd2-84ef-f3fbb43879ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Postprocessing\n",
        "height": 200,
        "width": 220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2900,
        160
      ],
      "id": "8322b3be-c4e3-4e6f-b750-893238c67155",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Preprocessing",
        "height": 420,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3240,
        -20
      ],
      "id": "5b4a3206-196f-4245-ac45-09a751a45ba8",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n#### The sole purpose of this node is to provide the `AddTopProjects` node with access to both the sheet information from the `CreateGoogleSheet` node and the projects coming from the `Sort` node.",
        "height": 320,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4020,
        140
      ],
      "id": "febbc21d-7933-47a0-ba13-ce7d9e74b15b",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 32
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -180
      ],
      "id": "770ddb87-3995-4ab2-a614-560c70a789b6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        100,
        -100
      ],
      "id": "567f8dab-d9ce-485d-a6bd-7cd475f47352",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60838f06-59eb-4cd0-a530-a1697009d35c",
              "leftValue": "={{ $('GetTabelRecords').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        -180
      ],
      "id": "fc0a9a8a-bbf6-4c25-af23-75508b4ab962",
      "name": "If",
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "GetTabelRecords": [
      {
        "json": {
          "id": "1912047217828034126",
          "title": "Build simple custom GPT",
          "description": "A short take - building a GPT by inputting specific set material and programming it to behave in correct manner. much of the task is gathering the relevant text fort input. end product should be the custom GPT shared with me",
          "category": "data_science_analytics",
          "total_applicants": 0,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "INTERMEDIATE",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": null,
          "skills": [
            {
              "name": "ai-development",
              "prettyName": "AI Development",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 5,
          "hourly_budget_max": 40,
          "duration": "WEEK",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926083",
          "engagement_duration_label": "Less than 1 month",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 1,
          "client_total_posted_jobs": 1,
          "client_total_spent": 436.95,
          "client_location_city": "netanya ",
          "client_location_country": "ISR",
          "client_location_timezone": "Asia/Jerusalem",
          "client_location_state": "",
          "client_location_offset_to_utc": "Asia",
          "client_total_reviews": 1,
          "client_total_feedback": 5,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-15T07:35:55.000Z",
          "published_date_time": "2025-04-15T07:35:56.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1912043831938381390",
          "title": "Build us a CustomGPT Chatbot for Canadian Election",
          "description": "Project Brief: VoteGPT – Custom Chatbot for Canadian Voters\nDeadline to Launch: April 17, 2025\n\nWe’re looking for a skilled partner to help us build a custom AI chatbot for our project VoteGPT. The goal is to help Canadian voters explore and understand the party platforms and promises of the major federal parties in a clear, engaging way.\n\nWhat We’re Building\nVoteGPT will be a conversational AI tool trained on party platforms and other official sources. Voters should be able to ask questions like:\n“Which party has the strongest climate plan?”\n“What do the parties say about housing affordability?”\n“I care about mental health and Indigenous rights — which party aligns most with my values?”\n\nWe previously built an early version using an out-of-the-box GPT solution at https://votegpt.ca, but the responses were overly cautious, limited to basic excerpts, and lacked real synthesis or user-friendly recommendations. We’re looking to improve this with a new model. \n\nKey Features We Want\nCustom GPT-style chatbot trained on the 2025 party platforms\nEmbeddable on a landing page (iframe or widget)\nCitations included in answers to verify claims\nReduced hallucinations (trustworthy, factual responses)\nAnalytics dashboard (user activity, common questions, etc.)\nCustom prompts and follow-up actions, e.g., invite user to take action after chat\n\n\nTechnical Direction\nWe’ve been advised that OpenAI’s Custom GPTs could be a good fit, but we’re open to your recommendations for the best approach and stack.\n\nTimeline\nWe want to **launch by Thursday, April 17, 2025** — so this is a fast turnaround.\n\nTo Respond\nPlease send a brief email covering:\nA brief proposal or outline of how you’d approach this\nEstimated cost\nTimeline to deliver\nExamples of similar work or previous experience (if any)\n\nWe’re ready to move quickly. Thanks!",
          "category": "web_mobile_software_dev",
          "total_applicants": 5,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": null,
          "skills": [
            {
              "name": "ai-chatbot",
              "prettyName": "AI Chatbot",
              "highlighted": false
            },
            {
              "name": "gpt-chatbot",
              "prettyName": "GPT Chatbot",
              "highlighted": false
            },
            {
              "name": "chatbot-integration",
              "prettyName": "Chatbot Integration",
              "highlighted": false
            },
            {
              "name": "customer-service-chatbot",
              "prettyName": "Customer Service Chatbot",
              "highlighted": false
            },
            {
              "name": "chatbot-training",
              "prettyName": "Chatbot Training",
              "highlighted": false
            },
            {
              "name": "chatbot-tuning",
              "prettyName": "Chatbot Tuning",
              "highlighted": false
            },
            {
              "name": "chatbot-development",
              "prettyName": "Chatbot Development",
              "highlighted": false
            },
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "web-design",
              "prettyName": "Web Design",
              "highlighted": false
            },
            {
              "name": "ai-app-development",
              "prettyName": "AI App Development",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "DEFAULT",
          "hourly_budget_min": 25,
          "hourly_budget_max": 40,
          "duration": "WEEK",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926083",
          "engagement_duration_label": "Less than 1 month",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 0,
          "client_total_posted_jobs": 3,
          "client_total_spent": null,
          "client_location_city": null,
          "client_location_country": "Canada",
          "client_location_timezone": "America/Sao_Paulo",
          "client_location_state": null,
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 0,
          "client_total_feedback": 0,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-15T07:22:28.000Z",
          "published_date_time": "2025-04-15T07:22:29.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911987933859384855",
          "title": "Voice AI Agent Development",
          "description": "We are seeking a skilled developer to create a workflow involving Voice AI agent to handle lead qualification for clinical trials. The steps will be the following:\n- Pull lead info and initial qualification questions from Mailchimp\n- Determine if initial qualification questions meet criteria for AI voice call\n- Initiate outbound voice call when new leads meeting initial qualification criteria are met\n- Determine if info called during AI voice call meets criteria for scheduling with human follow up agent [determines if there is match between any available trials based on all information collected] (via LLM plus matching rules)\n- If criteria are met, schedule a call with human (or pass on to live human if human is available) and summarize information for human call (via LLM)\n\nYou should have extensive experience with automation platform (like make.com / n8n etc), voice AI platforms (Retell/VAPI), Airtable. We will be using Cekura AI for testing and observability.",
          "category": "web_mobile_software_dev",
          "total_applicants": 63,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "INTERMEDIATE",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": null,
          "skills": [
            {
              "name": "american-english",
              "prettyName": "US English Dialect",
              "highlighted": false
            },
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "english",
              "prettyName": "English",
              "highlighted": false
            },
            {
              "name": "young-adult-writing",
              "prettyName": "Young Adult",
              "highlighted": false
            },
            {
              "name": "natural-language-processing",
              "prettyName": "Natural Language Processing",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 20,
          "hourly_budget_max": 60,
          "duration": "MONTH",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926082",
          "engagement_duration_label": "1 to 3 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 47,
          "client_total_posted_jobs": 33,
          "client_total_spent": 112024.4,
          "client_location_city": "Clovis, CA",
          "client_location_country": "United States",
          "client_location_timezone": "Europe/London",
          "client_location_state": "CT",
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 21,
          "client_total_feedback": 4.39,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-15T03:40:21.000Z",
          "published_date_time": "2025-04-15T03:40:21.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911972646231845032",
          "title": "AI-Powered Data Integration & Analytics System for Multi-Unit Franchise Business",
          "description": "I own and operate a portfolio of franchise restaurant businesses and am looking to build a comprehensive, centralized data platform that consolidates information from various sources to drive better decision-making and improve profitability across all locations.\n\nGoals of the Project:\n\t•\tCreate a centralized database or engine that integrates data from various systems (POS, accounting software, labor scheduling tools, etc.).\n\t•\tDevelop an AI-powered engine/agent that can:\n\t•\tAnalyze financial and operational data.\n\t•\tProvide recommendations to improve profitability on a location-by-location basis.\n\t•\tAnswer analytical questions like:\n\t•\t“What is the average EBITDA of each location over the past 5 months?”\n\t•\t“Which location has had the biggest change in labor cost % month-over-month?”\n\t•\tSurface key KPIs and generate visual dashboards.\n\t•\tIdentify trends and outliers in performance.\n\nIdeal Candidate Will Have Experience With:\n\t•\tData integration from platforms like Toast, QuickBooks, Paycor, or other common tools used in the restaurant/franchise space.\n\t•\tBuilding dashboards and visualization tools (Power BI, Tableau, or custom dashboards).\n\t•\tAI/ML-driven analytics tools (including use of LLMs or agents).\n\t•\tUnderstanding or experience with tools/concepts like Model Context Protocol (MCP) is a plus, especially if it can help structure context for querying business data.\n\t•\tBackend development and API integration.\n\nBonus Points For:\n\t•\tPrior work with franchise or multi-unit businesses.\n\t•\tAbility to propose scalable architecture for long-term growth.\n\t•\tOffering guidance on best practices for structuring financial and operational data for AI analysis.\n\nTo Apply:\nPlease include:\n\t•\tA brief summary of relevant experience.\n\t•\tExamples of similar work you’ve done (screenshots or links are welcome).\n\t•\tAny initial thoughts on how you’d approach a project like this.",
          "category": "data_science_analytics",
          "total_applicants": 27,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": null,
          "skills": [
            {
              "name": "ai-agent-development",
              "prettyName": "AI Agent Development",
              "highlighted": false
            },
            {
              "name": "ai-development",
              "prettyName": "AI Development",
              "highlighted": false
            },
            {
              "name": "ai-implementation",
              "prettyName": "AI Implementation",
              "highlighted": false
            },
            {
              "name": "ai-model-integration",
              "prettyName": "AI Model Integration",
              "highlighted": false
            },
            {
              "name": "data-augmentation",
              "prettyName": "Data Augmentation",
              "highlighted": false
            },
            {
              "name": "machine-learning",
              "prettyName": "Machine Learning",
              "highlighted": false
            },
            {
              "name": "data-science",
              "prettyName": "Data Science",
              "highlighted": false
            },
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "data-analysis",
              "prettyName": "Data Analysis",
              "highlighted": false
            },
            {
              "name": "api",
              "prettyName": "API",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 15,
          "hourly_budget_max": 40,
          "duration": "ONGOING",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926080",
          "engagement_duration_label": "More than 6 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 4,
          "client_total_posted_jobs": 8,
          "client_total_spent": 5753.29,
          "client_location_city": "Novi",
          "client_location_country": "United States",
          "client_location_timezone": "America/New_York",
          "client_location_state": "MI",
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 2,
          "client_total_feedback": 5,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-15T02:39:36.000Z",
          "published_date_time": "2025-04-15T02:39:36.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911951508791656000",
          "title": "AI Engineer for MCP Building and Agent Buildouts",
          "description": "We are seeking a skilled AI Engineer with experience in MCP building and agent buildouts to join our innovative team. The ideal candidate will have a strong background in developing and deploying intelligent agents, ensuring seamless integration and functionality. You will be responsible for designing and implementing solutions that enhance our systems' capabilities and efficiency. If you are passionate about AI and have a proven track record in this domain, we want to hear from you!",
          "category": "data_science_analytics",
          "total_applicants": 34,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "INTERMEDIATE",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": null,
          "skills": [
            {
              "name": "ai-agent-development",
              "prettyName": "AI Agent Development",
              "highlighted": false
            },
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "javascript",
              "prettyName": "JavaScript",
              "highlighted": false
            },
            {
              "name": "tensorflow",
              "prettyName": "TensorFlow",
              "highlighted": false
            },
            {
              "name": "next.js",
              "prettyName": "Next.js",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 15,
          "hourly_budget_max": 40,
          "duration": "MONTH",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926082",
          "engagement_duration_label": "1 to 3 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 44,
          "client_total_posted_jobs": 105,
          "client_total_spent": 42626.16,
          "client_location_city": "atlanta",
          "client_location_country": "United States",
          "client_location_timezone": "America/Sao_Paulo",
          "client_location_state": "GA",
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 30,
          "client_total_feedback": 4.98,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-15T01:15:36.000Z",
          "published_date_time": "2025-04-15T01:15:37.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911943343755696038",
          "title": "Operations Needed for AI-Powered Marketing Agency (Workflow Builder + Automation-EXPERT)",
          "description": "(Workflow Builder + Automation-Savvy)\nDreamwork Labs is a fast-growing, productized marketing agency helping brands scale with AI-powered systems across content, SEO, cold email, and paid media.\n\nWe're hiring an Operations + Systems Manager to help us deliver results across all of our offers — using tools like ClickUp, Notion, Slack, GoHighLevel, Make, Zapier, and ChatGPT.\n\n💼 Your Role:\nYou’ll build, optimize, and manage delivery systems for:\n\nOur Growth Engine (social content + engagement workflows)\n\nOur SEO blog engine \n\nOur cold outbound system (lead sourcing + Instantly + CRM handoff)\n\nLocal SEO paid ad client onboarding + reporting\n\nGeneral project and task management inside ClickUp\n\nYou’ll help turn our Notion SOPs and AI prompts into automated or semi-automated workflows, then manage client timelines, comms, and QA as needed.\n\n🧠 You Should Be:\nExtremely organized, process-driven, and tech fluent, always thinking of new ideas to make things easier. \n\nFamiliar with automating via Make, Zapier, GoHighLevel\n\nExperienced with project management in ClickUp, Notion, Slack\n\nAble to QA ChatGPT output, trigger workflows, and improve SOPs\n\nComfortable working async + independently in a fast-moving environment\n\n🌍 This Is For You If:\nYou love building and optimizing systems more than doing the tasks manually\n\nYou’ve worked with lean remote teams or founders before\n\nYou’re interested in AI + no-code tools and want to grow into a senior ops role\n\nYou want to help scale an agency to millions in revenue with minimal headcount ensuring you and our CEO build together long term. \n\nMUST KNOW HOW TO AUTOMATE. (Notion, clickup, gohighlevel, Twitter, Wordpress, etc). \n\n📌 Details:\nFull-time (40 hrs/week)\n\n$/hr depending on experience\n\nFully remote\n\nGrowth opportunity to become our Head of Ops / COO over time\n\n✅ To Apply:\nTell us what systems you’ve built before\n\nShare your favorite automation stack\n\nInclude 1 thing you'd improve about this job description (optional but fun)\n\nLooking forward to building something great with you.",
          "category": "admin_support",
          "total_applicants": 8,
          "preferred_freelancer_location": "Argentina Brazil Colombia Serbia Ukraine",
          "preferred_freelancer_location_mandatory": false,
          "premium": true,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": null,
          "skills": [
            {
              "name": "clickup",
              "prettyName": "ClickUp",
              "highlighted": false
            },
            {
              "name": "digital-focus",
              "prettyName": "Digital Project Management",
              "highlighted": false
            },
            {
              "name": "project-management-capability",
              "prettyName": "Project Management",
              "highlighted": false
            },
            {
              "name": "zapier",
              "prettyName": "Zapier",
              "highlighted": false
            },
            {
              "name": "integromat",
              "prettyName": "Make.com",
              "highlighted": false
            },
            {
              "name": "customer-focused",
              "prettyName": "Client Management",
              "highlighted": false
            },
            {
              "name": "chatgpt",
              "prettyName": "ChatGPT",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 10,
          "hourly_budget_max": 55,
          "duration": "ONGOING",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926080",
          "engagement_duration_label": "More than 6 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 14,
          "client_total_posted_jobs": 36,
          "client_total_spent": 6133.89,
          "client_location_city": "Houston",
          "client_location_country": "United States",
          "client_location_timezone": "America/Sao_Paulo",
          "client_location_state": "TX",
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 8,
          "client_total_feedback": 5,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-15T00:43:10.000Z",
          "published_date_time": "2025-04-15T00:43:10.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911180758076930115",
          "title": "Custom APIFY Actor Developer for LinkedIn Messaging Automation",
          "description": "We are looking for an experienced APIFY actor developer to create a custom solution for automating LinkedIn messaging. The task involves building an actor that can send personalized messages to our First Connections on LinkedIn based on a provided LinkedIn search URL.\n\nProject Requirements:\nInput Parameters:\nA LinkedIn search URL containing only our First Connections.\nA daily message quota (number of messages to send per day).\nMessage Personalization:\nThe actor should allow us to input a custom message template with placeholders for personalization. For example:\nHello (FirstName),\nI am recruiting for a \"Python Developer\" Contract position for our client in New York City.\nIf you are interested in learning more about this opportunity, please call me or email me.\nYou can also click here (this is a clickable link) to speak to my AI voice agent, who can answer all your questions related to this job.\n\nThanks,\nTaj Haslani\n(recruiterEmail)\n(recruiterPhoneNumber)\nThe actor should dynamically replace placeholders like (FirstName), (recruiterEmail), and (recruiterPhoneNumber) with the appropriate values.\nMessage Sending Logic:\nThe actor should send the specified number of messages per day (daily quota).\nIf the search results contain more profiles than the daily quota, the actor should continue sending messages the next day until all profiles are contacted.\nError Handling:\nThe actor should handle potential LinkedIn restrictions (e.g., rate limits or message limits) and retry as needed.\nDeliverables:\nA fully functional APIFY actor that meets the above requirements.\nDocumentation on how to use the actor, including how to input the LinkedIn search URL, set the daily quota, and customize the message template.\nSkills Required:\nStrong experience with APIFY and actor development.\nFamiliarity with LinkedIn automation and its limitations.\nProficiency in JavaScript/Node.js (or relevant programming languages for APIFY development).\nUnderstanding of web scraping and API integration.",
          "category": "web_mobile_software_dev",
          "total_applicants": 11,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "api",
              "prettyName": "API",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "DEFAULT",
          "hourly_budget_min": 30,
          "hourly_budget_max": 60,
          "duration": "WEEK",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926083",
          "engagement_duration_label": "Less than 1 month",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 309,
          "client_total_posted_jobs": 697,
          "client_total_spent": 182490.59,
          "client_location_city": "Edison",
          "client_location_country": "United States",
          "client_location_timezone": "America/New_York",
          "client_location_state": "NJ",
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 222,
          "client_total_feedback": 4.94,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T22:12:55.000Z",
          "published_date_time": "2025-04-12T22:12:56.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911179444500823720",
          "title": "AI-Powered Contract Review Platform for Insurance",
          "description": "REview Explained in Simple Terms\n\nImagine a tool that works like a supercharged legal assistant designed specifically for the reinsurance industry. That’s REview. Here’s what it does:\n\t•\tSmart Contract Review:\nUsers (like underwriters or legal teams) upload reinsurance contracts along with important details (such as program names, contract IDs, team info, etc.). REview automatically processes these documents.\n\t•\tMultiple AI Engines for Accuracy:\nInstead of relying on a single set of eyes, REview uses at least two different AI systems (like OpenAI and Anthropic). These AI models review the same contract and compare their answers. If they disagree on something, the tool flags it so a human can check it. This cross-checking ensures a higher level of accuracy and reliability.\n\t•\tCustomizable Q&A for Underwriters:\nUnderwriters can set up a list of standard questions they always want answered for each contract. When a contract is uploaded, REview automatically fills in answers to these questions based on its analysis. This saves time and ensures consistent information across contracts.\n\t•\tReal-Time Collaborative Tools:\nJust like Google Docs, REview allows users to work together on the same document. People can highlight important sections, leave comments, and make corrections all within the platform. This makes teamwork more efficient and helps resolve issues quickly.\n\t•\tContinuous Learning:\nWhen a human reviews flagged differences and makes decisions, that feedback is used to improve the AI over time. This means the tool gets smarter and more tailored to each company’s unique requirements.\n\nIn summary, REview is designed to simplify and streamline the legal review process for reinsurance contracts. It minimizes errors, speeds up decision-making, and ensures that each company’s unique needs are met—all while providing a secure and collaborative environment. This makes it an invaluable tool for companies looking to modernize and automate a traditionally manual and error-prone process.",
          "category": "web_mobile_software_dev",
          "total_applicants": 18,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "ai-app-development",
              "prettyName": "AI App Development",
              "highlighted": false
            },
            {
              "name": "web-application",
              "prettyName": "Web Application",
              "highlighted": false
            },
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "technology",
              "prettyName": "Tech & IT",
              "highlighted": false
            },
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "javascript",
              "prettyName": "JavaScript",
              "highlighted": false
            },
            {
              "name": "machine-learning",
              "prettyName": "Machine Learning",
              "highlighted": false
            },
            {
              "name": "natural-language-processing",
              "prettyName": "Natural Language Processing",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 20,
          "hourly_budget_max": 42,
          "duration": "MONTH",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926082",
          "engagement_duration_label": "1 to 3 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 4,
          "client_total_posted_jobs": 3,
          "client_total_spent": 354.16,
          "client_location_city": "Pembroke",
          "client_location_country": "Bermuda",
          "client_location_timezone": "America/Tijuana",
          "client_location_state": null,
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 2,
          "client_total_feedback": 5,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T22:07:42.000Z",
          "published_date_time": "2025-04-12T22:07:42.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911165567496882183",
          "title": "Quantitative Consultant for RNN/ML-Based Auto Trading System (9 Active Models)",
          "description": "Description:\n\nWe’re seeking a seasoned quantitative or machine learning consultant to help us optimize our RNN-based auto trading system, which currently operates with 9 active models. The system trades a wide range of Forex and CFD instruments across multiple time frames.\n\nWhile the infrastructure is in place, complex and fully operational, we are facing challenges in achieving consistent profitability. We’re looking for an expert to review the system, identify weaknesses, and recommend improvements in both the modeling and trading logic.\nResponsibilities:\n\n    Analyze the current 9-model RNN architecture\n\n    Identify inefficiencies or areas impacting profitability\n\n    Recommend strategy or logic improvements\n\n    Advise on volatility handling and risk optimization\n\n    Optional: Suggest training or model refinement strategies\n\nRequirements:\n\n    Deep experience with RNNs and time-series forecasting\n\n    Strong background in algorithmic trading and financial modeling\n\n    Ideally has built or consulted on a profitable trading system\n\n    Clear, actionable communication and strategic thinking\n\nScope:\n\n    Short-term consulting with potential for continued engagement\n\n    Open to hourly or fixed rate, depending on experience",
          "category": "data_science_analytics",
          "total_applicants": 1,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "machine-learning",
              "prettyName": "Machine Learning",
              "highlighted": false
            },
            {
              "name": "data-science",
              "prettyName": "Data Science",
              "highlighted": false
            },
            {
              "name": "neural-networks",
              "prettyName": "Neural Network",
              "highlighted": false
            },
            {
              "name": "forex-trading",
              "prettyName": "Forex Trading",
              "highlighted": false
            },
            {
              "name": "metatrader-4-mt4",
              "prettyName": "MetaTrader 4",
              "highlighted": false
            },
            {
              "name": "deep-neural-networks",
              "prettyName": "Deep Neural Network",
              "highlighted": false
            },
            {
              "name": "bot-development",
              "prettyName": "Bot Development",
              "highlighted": false
            },
            {
              "name": "algorithm-development",
              "prettyName": "Algorithm Development",
              "highlighted": false
            },
            {
              "name": "artificial-neural-networks",
              "prettyName": "Artificial Neural Network",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "DEFAULT",
          "hourly_budget_min": 30,
          "hourly_budget_max": 60,
          "duration": "MONTH",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926082",
          "engagement_duration_label": "1 to 3 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 0,
          "client_total_posted_jobs": 1,
          "client_total_spent": null,
          "client_location_city": null,
          "client_location_country": "United States",
          "client_location_timezone": "America/Tijuana",
          "client_location_state": null,
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 0,
          "client_total_feedback": 0,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T21:12:33.000Z",
          "published_date_time": "2025-04-12T21:12:34.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911161492216789059",
          "title": "Gemini AI Developer",
          "description": "Looking for a Gemini Prompt Engineer. AI promoting skills needed and OCR knowledge.",
          "category": "data_science_analytics",
          "total_applicants": 25,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "INTERMEDIATE",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "DEFAULT",
          "hourly_budget_min": 19,
          "hourly_budget_max": 40,
          "duration": "MONTH",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926082",
          "engagement_duration_label": "1 to 3 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 38,
          "client_total_posted_jobs": 47,
          "client_total_spent": 129887.58,
          "client_location_city": "City",
          "client_location_country": "United Kingdom",
          "client_location_timezone": "Etc/UTC",
          "client_location_state": "",
          "client_location_offset_to_utc": "Europe",
          "client_total_reviews": 24,
          "client_total_feedback": 4.97,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T20:56:22.000Z",
          "published_date_time": "2025-04-12T20:56:22.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911153165915389608",
          "title": "Automation Engineer Needed for Sales Team",
          "description": "Our team is looking to hire some Automation engineers to help automate business and sales processes for our team.\n\n- Must have strong experience with Automation tools (Zapier, Make.com)\n- Must have strong experience with Google Sheets and automating spreadsheet data\n- Must have strong experience with data tools and automation tools",
          "category": "web_mobile_software_dev",
          "total_applicants": 47,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": true,
          "experience_level": "INTERMEDIATE",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "automation",
              "prettyName": "Automation",
              "highlighted": false
            },
            {
              "name": "spreadsheet-automation",
              "prettyName": "Spreadsheet Automation",
              "highlighted": false
            },
            {
              "name": "google-sheets-automation",
              "prettyName": "Google Sheets Automation",
              "highlighted": false
            },
            {
              "name": "task-automation",
              "prettyName": "Task Automation",
              "highlighted": false
            },
            {
              "name": "business-process-automation",
              "prettyName": "Business Process Automation",
              "highlighted": false
            },
            {
              "name": "integromat",
              "prettyName": "Make.com",
              "highlighted": false
            },
            {
              "name": "zapier",
              "prettyName": "Zapier",
              "highlighted": false
            },
            {
              "name": "sales",
              "prettyName": "Sales",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 10,
          "hourly_budget_max": 75,
          "duration": "ONGOING",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926080",
          "engagement_duration_label": "More than 6 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 111,
          "client_total_posted_jobs": 47,
          "client_total_spent": 108265.56,
          "client_location_city": "New York",
          "client_location_country": "United States",
          "client_location_timezone": "America/New_York",
          "client_location_state": "NY",
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 36,
          "client_total_feedback": 5,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T20:23:17.000Z",
          "published_date_time": "2025-04-12T20:23:17.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911097133058799683",
          "title": "CTO Needed for AI Layer 2 Project on Blockchain",
          "description": "We are seeking a Chief Technology Officer (CTO) with expertise in AI and blockchain technology to lead our innovative Layer 2 project on the Solana blockchain. The ideal candidate will have a strong background in artificial intelligence and experience in the crypto space. Responsibilities include overseeing technical development, participating in AMAs, and guiding our team in implementing cutting-edge solutions. If you are passionate about AI and blockchain and have the skills to shape our technology strategy, we would love to hear from you!",
          "category": "web_mobile_software_dev",
          "total_applicants": 7,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "blockchain",
              "prettyName": "Blockchain",
              "highlighted": false
            },
            {
              "name": "java",
              "prettyName": "Java",
              "highlighted": false
            },
            {
              "name": "javascript",
              "prettyName": "JavaScript",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 25,
          "hourly_budget_max": 150,
          "duration": "MONTH",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926082",
          "engagement_duration_label": "1 to 3 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 0,
          "client_total_posted_jobs": 0,
          "client_total_spent": null,
          "client_location_city": null,
          "client_location_country": "Norway",
          "client_location_timezone": "Europe/Berlin",
          "client_location_state": null,
          "client_location_offset_to_utc": "Europe",
          "client_total_reviews": 0,
          "client_total_feedback": 0,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T16:40:37.000Z",
          "published_date_time": "2025-04-12T19:40:42.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911135883329538055",
          "title": "Technical Co-Founder (AI & Automation) – Help Build AI & Automation Services Agency",
          "description": "NO AGENCIES - looking for a Co-founder/Partner/individual. \n\n About the Vision\nWe're launching a boutique AI & Automation agency helping B2B companies-especially in SaaS, e-commerce, and services-save cost and scale faster by automating their marketing operations and workflows using tools like GPT-4, Make, Zapier, Notion AI, HubSpot AI, and more.\n\nThink: A McKinsey-style AI consultancy for marketing teams - small, sharp, scalable.\n\n🧩 What We’re Looking For\nWe’re looking for a Co-Founder / CTO who can lead the technical side of our delivery, from advising on tools to building automations and AI workflows.\n\nYou might be:\n-A senior AI/automation consultant looking to build your own thing.\n-A PhD student or technical specialist with deep knowledge in AI/ML, workflow automation, and business process mapping.\n-Someone who’s already playing with GPT agents, Zapier/Make integrations, or AI copilots — and gets excited about solving real business problems.\n\n🔧 Your Role\n-Lead the technical delivery of client projects: audits, automation flows, AI integration.\n-Help build out internal toolkits, templates, and GPT workflows to scale the business.\n-Collaborate on productised services and recurring offers (e.g. AI audits, AI content engines).\n-Stay on top of the latest AI tools and help select, test, and implement them with clients.\n\nJoin strategy calls and client-facing demos when needed — we’re building together.\n\n🛠️ Tech & Tools We Work With\n-OpenAI / Claude / Gemini / LangChain\n-Zapier / Make / HubSpot / Webflow\n-Notion, Airtable, Slack integrations\n-GA4, Meta Ads, Google Sheets automation\n-Automation-first mindsets, no-code/low-code workflows, and maybe agent-based setups down the line\n\n💼 About the Founder\n-Former award-winning CMO with 15+ years in B2B and SaaS.\n-Built and exited businesses, featured on StarterStory and worked with companies like AT&T & The Economist\n-Strong personal brand, deep LinkedIn network of marketers and founders = instant warm lead pool.\n\nReady to go: Website, positioning, service packages, and GTM strategy are already in motion.\n\n💰 The Offer\n-Co-founder level role – equity (initially 50/50 profit share)\n-No salary upfront, but huge upside in early client revenues + exit potential\n\nYou get to own and shape the tech vision of the agency\n\n\nTotal freedom on when, how, and where you work — as long as things ship 🚢\n\n🎯 Our Goal\nTo build a lean, high-margin, AI-powered agency that scales via productised services, recurring retainers, and eventually strategic IP/toolkits — making us attractive for acquisition in 3–5 years.\n\n📩 How to Apply\nPlease include \"AI & Automate Co-founder\" in your application so we know you read this.\n\nTell us:\nWhy this is the right fit for you.\nYour experience with AI tools, workflow automation, or technical delivery.\nShare links to anything you’ve built (GitHub, Notion, Zapier templates, GPT workflows, etc.).",
          "category": "data_science_analytics",
          "total_applicants": 6,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": true,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "data-science",
              "prettyName": "Data Science",
              "highlighted": false
            },
            {
              "name": "machine-learning",
              "prettyName": "Machine Learning",
              "highlighted": false
            },
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "natural-language-processing",
              "prettyName": "Natural Language Processing",
              "highlighted": false
            },
            {
              "name": "artificial-neural-networks",
              "prettyName": "Artificial Neural Network",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "DEFAULT",
          "hourly_budget_min": 34,
          "hourly_budget_max": 62,
          "duration": "ONGOING",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926080",
          "engagement_duration_label": "More than 6 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 3,
          "client_total_posted_jobs": 24,
          "client_total_spent": 50,
          "client_location_city": "Liverpool",
          "client_location_country": "United Kingdom",
          "client_location_timezone": "Europe/London",
          "client_location_state": "",
          "client_location_offset_to_utc": "Europe",
          "client_total_reviews": 1,
          "client_total_feedback": 5,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T19:14:36.000Z",
          "published_date_time": "2025-04-12T19:14:36.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911131095810703016",
          "title": "1 -2 Hours of Consulting work related to AI agent Deployment",
          "description": "1 -2 Hours of Consulting work related to AI agent Deployment",
          "category": "data_science_analytics",
          "total_applicants": 6,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "INTERMEDIATE",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 13,
          "hourly_budget_max": 40,
          "duration": "MONTH",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926082",
          "engagement_duration_label": "1 to 3 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 23,
          "client_total_posted_jobs": 77,
          "client_total_spent": 585.26,
          "client_location_city": "melbourne",
          "client_location_country": "Australia",
          "client_location_timezone": "Asia/Tbilisi",
          "client_location_state": null,
          "client_location_offset_to_utc": "Oceania",
          "client_total_reviews": 11,
          "client_total_feedback": 4.63,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T18:55:35.000Z",
          "published_date_time": "2025-04-12T18:55:35.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911092312671925612",
          "title": "Fine-tuning & matching ecommerce products from different merchants - immediate hire",
          "description": "Hi,\n\nWe have a comparison website which compares various products sold by various merchants.\n\nWe have already scrapped all products from over 42 merchants (850k products).\n\nWe need the exact same products to be matched across various merchants. \n\nNote: the complexity of this job is to match the same product across multiple different merchants when one product may have different variations. so for example a \"dulux 5L brilliant white paint\" must be matched the exact same product being sold on different merchants and not the 2.5L version of it etc.\n\nYou MUST BE AN EXPERT in fine tuning and have proven track record of working on AI projects, you MUST  NOT apply if you do not have experience of doing complex AI projects.",
          "category": "data_science_analytics",
          "total_applicants": 10,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": true,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "ai-development",
              "prettyName": "AI Development",
              "highlighted": false
            },
            {
              "name": "deep-learning",
              "prettyName": "Deep Learning",
              "highlighted": false
            },
            {
              "name": "bard",
              "prettyName": "Gemini",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "DEFAULT",
          "hourly_budget_min": 30,
          "hourly_budget_max": 59,
          "duration": "MONTH",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926082",
          "engagement_duration_label": "1 to 3 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 29,
          "client_total_posted_jobs": 33,
          "client_total_spent": 24985.36,
          "client_location_city": "Birmingham",
          "client_location_country": "United Kingdom",
          "client_location_timezone": "Africa/Casablanca",
          "client_location_state": "West Midlands",
          "client_location_offset_to_utc": "Europe",
          "client_total_reviews": 9,
          "client_total_feedback": 3.57,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T16:21:28.000Z",
          "published_date_time": "2025-04-12T16:21:28.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911082017498073095",
          "title": "Automation Expert Needed | N8n, Make, Airtable, Voiceflow, Bland AI, Vapi AI",
          "description": "We’re building something massive—and we need elite-level talent to help scale it.\n\nI’m looking for a battle-tested automation expert who’s fluent in:\n\nN8n\n\nMake (Integromat)\n\nAirtable\n\nVoiceflow\n\nBland AI\n\nVapi AI\n\nYou’ll be helping build plug-and-play templates for both:\n\nMy own AI agency's internal systems\n\nMultiple industries (fitness, real estate, med spas, financial services, etc.)\n\nWhat You’ll Be Doing:\n\nBuilding clean, scalable automations using the platforms above\n\nCreating modular workflows that can be easily customized by industry\n\nIntegrating conversational AI flows (chat + voice)\n\nMapping data structures and APIs in Airtable\n\nCollaborating with me to innovate solutions and systemize growth\n\nDocumenting everything clearly so it can be scaled, cloned, and sold\n\nRequirements:\n\nHands-on experience with ALL listed tools\n\nStrategic thinker who can reverse-engineer business operations\n\nClear communicator with fast response time\n\nOrganized and process-driven (you love clean systems)\n\nBonus if you have experience in SaaS, AI lead gen, or DFY agency services\n\nPreferred:\n\nStudents or graduates from “The Real World” (Tate’s business school) – I value action-takers, not excuse-makers\n\nThis is not a one-off gig. I’m looking to build a long-term relationship with someone who wants to be part of a fast-growing, no-BS agency that’s going global.\n\nThink you’re the one?",
          "category": "web_mobile_software_dev",
          "total_applicants": 10,
          "preferred_freelancer_location": "Argentina Colombia Panama Philippines",
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "api",
              "prettyName": "API",
              "highlighted": false
            },
            {
              "name": "chatbot-development",
              "prettyName": "Chatbot Development",
              "highlighted": false
            },
            {
              "name": "automation",
              "prettyName": "Automation",
              "highlighted": false
            },
            {
              "name": "machine-learning",
              "prettyName": "Machine Learning",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "DEFAULT",
          "hourly_budget_min": 30,
          "hourly_budget_max": 60,
          "duration": "ONGOING",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926080",
          "engagement_duration_label": "More than 6 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 0,
          "client_total_posted_jobs": 2,
          "client_total_spent": null,
          "client_location_city": "Edmonton",
          "client_location_country": "Canada",
          "client_location_timezone": "Australia/Brisbane",
          "client_location_state": "AB",
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 0,
          "client_total_feedback": 0,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T15:40:34.000Z",
          "published_date_time": "2025-04-12T15:40:34.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911081380620533416",
          "title": "MVP Build – Smart Chat Assistant with Memory + Text Interface (AI + Messaging)",
          "description": "We’re looking for a full-stack developer (or small team) to help us bring a lightweight AI-based messaging assistant to life.\n\nThis is not a chatbot in a box — it’s a smart agent that lives inside group conversations (via SMS or messaging platform) and helps users stay organized, aligned, and accountable in a human way.",
          "category": "web_mobile_software_dev",
          "total_applicants": 32,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "twilio-api",
              "prettyName": "Twilio API",
              "highlighted": false
            },
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "whatsapp",
              "prettyName": "WhatsApp",
              "highlighted": false
            },
            {
              "name": "chatbot-development",
              "prettyName": "Chatbot Development",
              "highlighted": false
            },
            {
              "name": "ios",
              "prettyName": "iOS",
              "highlighted": false
            },
            {
              "name": "hugging-face",
              "prettyName": "Hugging Face",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 25,
          "hourly_budget_max": 70,
          "duration": "SEMESTER",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926081",
          "engagement_duration_label": "3 to 6 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 0,
          "client_total_posted_jobs": 0,
          "client_total_spent": null,
          "client_location_city": null,
          "client_location_country": "United States",
          "client_location_timezone": "America/New_York",
          "client_location_state": null,
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 0,
          "client_total_feedback": 0,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T15:38:02.000Z",
          "published_date_time": "2025-04-12T15:38:03.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911064858267221672",
          "title": "Next-Gen Web & Mobile Application in the AI Space",
          "description": "AIHub Technology is building a powerful platform that brings together the world’s leading AI models in one unified, intuitive experience. \nOur goal is to make AI more accessible, collaborative, and deeply useful—whether for individuals, teams, or enterprises.\n\nWe’re now looking for a high-performing technical team (or strong individual full-stack engineers) to help us design the first version of our web and mobile applications.\n\nThe AIHub platform will allow users to:\n • Chat with multiple LLMs like ChatGPT, Claude, Perplexity, Mistral, and more\n • Upload files (PDFs, Docs, etc.) and get contextual AI-powered summaries, insights\n • Build their own custom AI agents with memory, tools, and knowledge bases\n • Search the web using AI in research mode with citations and source transparency\n • Access multi-modal tools: image analysis, text-to-image generation, and voice interaction\n • Collaborate in shared workspaces with teams on chats, files, and AI agents\n\nAll of this - inside a seamless, beautifully designed platform available on web and mobile.\n\nKey Features\n 1. Multi-AI Chat Interface\n • Real-time chat with selectable AI models\n • Side-by-side comparison of answers\n • Message streaming and session memory\n 2. Document upload & Analysis\n • File parser + vector database integration (e.g., Pinecone, Weaviate)\n • Semantic search + chat over documents\n 3. Prompt workspace\n • Save, reuse, and version prompts\n • Shared prompt templates for teams\n 4. AI-Powered research mode\n • Uses web-connected models like Perplexity\n • Displays references, links, and summaries\n 5. Voice & multi-modal interaction\n • Talk-to-AI with Whisper and TTS integrations\n • Support for images, PDFs, code snippets, etc.\n 6. Team workspaces & collaboration Tools\n • Shared AI agents, chat histories, and document interactions\n • Role-based access and user permissions\n 7. Custom AI Agent Builder\n • Let users create, configure, and deploy their own AI agents\n • Plug in files, context, tools, and preferred models\n\nTech Stack (open to suggestions)\n\nFrontend:\n • Web: React + Tailwind\n • Mobile: React Native (or Flutter)\n • Real-time: WebSocket / Socket.IO\n\nBackend:\n • Node.js | Python or Java\n • PostgreSQL + Redis\n • AI Tooling: LangChain, LlamaIndex, OpenAI API, Claude API, SerpAPI\n\nInfrastructure:\n • GCP / AWS \n • CI/CD pipeline, monitoring, and scalable architecture\n\nWe’re open to partnering with a dedicated dev shop or hiring a small, focused technical team (2–5 people max) who are:\n • Passionate about AI at least 5 released projects in this niche\n • Experienced in developing scalable web & mobile apps\n • Familiar with LLMs, APIs, and prompt engineering\n • Comfortable working in startup mode: lean, iterative, and fast",
          "category": "web_mobile_software_dev",
          "total_applicants": 26,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "java",
              "prettyName": "Java",
              "highlighted": false
            },
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "react-js",
              "prettyName": "React",
              "highlighted": false
            },
            {
              "name": "flutter",
              "prettyName": "Flutter",
              "highlighted": false
            },
            {
              "name": "node.js",
              "prettyName": "Node.js",
              "highlighted": false
            },
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "ios",
              "prettyName": "iOS",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "DEFAULT",
          "hourly_budget_min": 25,
          "hourly_budget_max": 47,
          "duration": "SEMESTER",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926081",
          "engagement_duration_label": "3 to 6 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 0,
          "client_total_posted_jobs": 0,
          "client_total_spent": null,
          "client_location_city": null,
          "client_location_country": "United Kingdom",
          "client_location_timezone": "Asia/Jerusalem",
          "client_location_state": null,
          "client_location_offset_to_utc": "Europe",
          "client_total_reviews": 0,
          "client_total_feedback": 0,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T14:32:22.000Z",
          "published_date_time": "2025-04-12T14:32:24.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911045199140534339",
          "title": "Crypto AI Agent Development",
          "description": "We are seeking an experienced developer to create a cutting-edge AI agent specialized in cryptocurrency trading and analysis. The ideal candidate will possess expertise in AI algorithms, machine learning, and blockchain technology. You will be responsible for designing and implementing the agent to analyze market trends, make trading decisions, and optimize strategies. If you have a passion for crypto and AI, we want to hear from you! \n\n**Relevant Skills:**\n- Artificial Intelligence (AI)\n- Machine Learning (ML)\n- Cryptocurrency Trading\n- Blockchain Technology\n- Data Analysis\n- Python or R Programming\n- API Integration",
          "category": "data_science_analytics",
          "total_applicants": 18,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "EXPERT",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "artificial-intelligence",
              "prettyName": "Artificial Intelligence",
              "highlighted": false
            },
            {
              "name": "python",
              "prettyName": "Python",
              "highlighted": false
            },
            {
              "name": "cryptocurrency",
              "prettyName": "Cryptocurrency",
              "highlighted": false
            },
            {
              "name": "blockchain",
              "prettyName": "Blockchain",
              "highlighted": false
            },
            {
              "name": "natural-language-processing",
              "prettyName": "Natural Language Processing",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "DEFAULT",
          "hourly_budget_min": 30,
          "hourly_budget_max": 60,
          "duration": "MONTH",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926082",
          "engagement_duration_label": "1 to 3 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 0,
          "client_total_posted_jobs": 0,
          "client_total_spent": null,
          "client_location_city": null,
          "client_location_country": "United States",
          "client_location_timezone": "America/New_York",
          "client_location_state": null,
          "client_location_offset_to_utc": "Americas",
          "client_total_reviews": 0,
          "client_total_feedback": 0,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T13:14:15.000Z",
          "published_date_time": "2025-04-12T13:14:17.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      },
      {
        "json": {
          "id": "1911020818064476167",
          "title": "Seeking Low-Code Botpress & n8n Expert for High-Quality Consultancy Projects",
          "description": "Job Description:\n\nWe are searching for a seasoned low-code expert specializing in Botpress and n8n to join our consultancy team on a freelance basis. We require a professional with a proven track record in developing robust, scalable, and innovative solutions using these tools.\n\nKey Responsibilities:\n\nDevelopment & Integration: Design, build, and integrate low-code solutions using Botpress for chatbot automation and n8n for workflow automation, ensuring high-quality, production-ready deployments. You will hand over the bots to me (I'm the technical founder). Everything needs to be well documented.\n\nDemonstration of Expertise: Present previous projects and demonstrable experience in both Botpress and n8n. You must show tangible examples of your work, including case studies or live demos, that highlight your capability to deliver quality solutions.\n\n\nContinuous Improvement: Stay updated on the latest trends and updates in low-code development, and proactively integrate best practices into your solutions.\n\nRequirements:\n\nProven Experience: Demonstrable portfolio or case studies in deploying both Botpress and n8n for client projects.\n\nTechnical Proficiency: Deep understanding of low-code development paradigms, API integrations, and workflow automation best practices, agentic development. \n\nProblem-Solving: Strong analytical and problem-solving skills with the ability to customize solutions based on diverse client needs.\n\nCommunication Skills: Excellent verbal and written communication skills for effective collaboration and presentation. Also, excellent internet connection and ability to articulate your thoughts or the problems.\n\nHow to Apply:\n\nInterested candidates should submit the following:\n\n- A brief cover letter outlining your experience with Botpress and n8n.\n\n- Portfolio or links/demos of previous projects where you have implemented these tools.\n\n- Your rate and availability.\n\n- Any additional information that showcases your approach to high-quality consultancy work.\n\nThis is a long-term work where, upon successful delivery of a couple of projects, we will trust you with bigger ones. \n\nIf you don't have real-world AI solutions you sold, don't apply. This is not a training job, but I want really experienced people to rely on.\n\nP.S. Any AI automatically generated cover letter will be rejected automatically. I want to get to know you in this letter, so feel free to get personal.",
          "category": "web_mobile_software_dev",
          "total_applicants": 4,
          "preferred_freelancer_location": null,
          "preferred_freelancer_location_mandatory": false,
          "premium": false,
          "experience_level": "INTERMEDIATE",
          "amount_raw_value": "0.0",
          "amount_currency": "USD",
          "amount_display_value": "0.0",
          "skills": [
            {
              "name": "ai-bot",
              "prettyName": "AI Bot",
              "highlighted": false
            },
            {
              "name": "ai-development",
              "prettyName": "AI Development",
              "highlighted": false
            },
            {
              "name": "ai-agent-development",
              "prettyName": "AI Agent Development",
              "highlighted": false
            },
            {
              "name": "javascript",
              "prettyName": "JavaScript",
              "highlighted": false
            },
            {
              "name": "api",
              "prettyName": "API",
              "highlighted": false
            },
            {
              "name": "n8n",
              "prettyName": "n8n",
              "highlighted": false
            },
            {
              "name": "integromat",
              "prettyName": "Make.com",
              "highlighted": false
            }
          ],
          "hourly_budget_type": "MANUAL",
          "hourly_budget_min": 15,
          "hourly_budget_max": 40,
          "duration": "ONGOING",
          "client_not_sure_fields": null,
          "client_private_fields": null,
          "freelancer_client_relation": null,
          "local_job_user_distance": null,
          "weekly_budget_raw_value": "0.0",
          "weekly_budget_currency": "USD",
          "weekly_budget_display_value": "0.0",
          "engagement_duration_id": "474250516458926080",
          "engagement_duration_label": "More than 6 months",
          "engagement_duration_weeks": 0,
          "client_edc_user_id": "0",
          "client_total_hires": 2,
          "client_total_posted_jobs": 4,
          "client_total_spent": 218.47,
          "client_location_city": "Berlin",
          "client_location_country": "Germany",
          "client_location_timezone": "Europe/Berlin",
          "client_location_state": "",
          "client_location_offset_to_utc": "Europe",
          "client_total_reviews": 0,
          "client_total_feedback": 0,
          "client_company_rid": "0",
          "client_company_name": null,
          "client_last_contract_platform": null,
          "client_last_contract_rid": "0",
          "client_last_contract_title": null,
          "client_has_financial_privacy": false,
          "occupations_category_id": null,
          "occupations_category_pref_label": null,
          "created_date_time": "2025-04-12T11:37:22.000Z",
          "published_date_time": "2025-04-12T11:37:23.000Z",
          "processed": false,
          "_extracted_skills_str": null,
          "_score": null,
          "_rationale": null,
          "_job_link": null
        }
      }
    ],
    "ScoreJobPost": [
      {
        "json": {
          "output": {
            "budget_attractiveness": 1,
            "client_history": 2,
            "post_freshness": 2,
            "skill_relevance": 3,
            "primary_skill_focus": true,
            "rationale": "The job post has an hourly budget of $5-40, scoring 1 point. The client has hired once, has a feedback score of 5, and has spent $436.95, scoring 2 points. The post is 2 days old, scoring 2 points. It requires 2 relevant skills (NLP and LLMs), scoring 3 points. The primary focus is on building a custom GPT, which aligns with the given skills."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 1,
            "client_history": 0,
            "post_freshness": 2,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post has an hourly budget of $25-$40, which scores 1 point. The client has no hiring history or feedback, scoring 0 points. The post is 2 days old, scoring 2 points. It explicitly requires skills in AI, NLP, and chatbots, scoring 5 points. The primary skill focus is true as the job description emphasizes these skills as core requirements."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 2,
            "post_freshness": 2,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post has an hourly budget of $20-60, scoring 2 points. The client has hired 47 times and spent over $112k, scoring 2 points. The post is 2 days old, scoring 2 points. It requires 3 skills from the given list (AI, NLP, and Workflow Automation), scoring 5 points. The primary skill focus is true as the job emphasizes skills matching the given skills as core requirements."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 1,
            "client_history": 3,
            "post_freshness": 2,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post has an hourly budget of $15-40, which scores 1 point. The client has hired 4 freelancers, has a feedback score of 5, and has spent over $5,000, scoring 3 points. The post is 2 days old, scoring 2 points. It requires 3 skills from the given skills (AI/ML, API Integration, and Data Integration), scoring 5 points. The primary skill focus is true as the job emphasizes AI and data integration as core requirements."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 1,
            "client_history": 3,
            "post_freshness": 2,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $15-40, which scores 1 point. The client has a strong history with 44 hires, a total spent of over $42k, and a feedback score of 4.98, scoring 3 points. The post is 2 days old, scoring 2 points. It requires multiple relevant skills from the given list, scoring 5 points. The primary focus is on AI engineering, aligning with the given skills, thus scoring true for primary skill focus."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 3,
            "post_freshness": 2,
            "skill_relevance": 3,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly rate of $35-55, scoring 2 points for budget attractiveness. The client has a strong history with 14 hires, a feedback score of 5, and total spending over $6k, earning 3 points. The post is 2 days old, giving it 2 points for freshness. It requires skills in workflow automation and no-code tools, matching 2 of the given skills for 3 points. The primary skill focus is true as the job emphasizes automation and relevant tools."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 3,
            "client_history": 3,
            "post_freshness": 1,
            "skill_relevance": 3,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $30-60, scoring 3 points for being above $50. The client has a strong history with 309 hires, a feedback score of 4.94, and total spending over $182k, scoring 3 points. The post is 5 days old, scoring 1 point. It requires 2 relevant skills (APIFY and API Integration), scoring 3 points. The primary focus is on APIFY development, which aligns with the given skills."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 1,
            "client_history": 2,
            "post_freshness": 1,
            "skill_relevance": 3,
            "primary_skill_focus": true,
            "rationale": "The job post has an hourly budget of $20-42, scoring 1 point. The client has hired 4 freelancers and has a feedback score of 5, scoring 2 points. The post is 5 days old, scoring 1 point. It mentions AI and contract review, aligning with 2 of the given skills, scoring 3 points. The primary focus is on AI and machine learning, which matches the core requirements."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 0,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $30-60, scoring 2 points. The client has no hiring history or feedback, scoring 0 points. The post is 5 days old, scoring 1 point. It requires deep experience with RNNs and algorithmic trading, aligning with 3+ of the given skills, scoring 5 points. The primary focus is on RNNs and machine learning, matching the core requirements."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 1,
            "client_history": 3,
            "post_freshness": 1,
            "skill_relevance": 1,
            "primary_skill_focus": false,
            "rationale": "The hourly budget is between $35 and $49, scoring 1 point. The client has a good history with 38 hires, 4.97 feedback, and over $129k spent, scoring 3 points. The post is 5 days old, scoring 1 point. The job mentions AI skills but only aligns with 1 skill from the given list, scoring 1 point. The primary skill focus is false as the job description does not emphasize the required skills as core."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 3,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $10-75, scoring 2 points. The client has a strong history with 111 hires, 5-star feedback, and over $108k spent, scoring 3 points. The post is 5 days old, scoring 1 point. It requires 3 skills from the given skills, scoring 5 points. The primary skill focus is true as the job emphasizes automation tools which match the given skills."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 0,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $25-150, which scores 2 points. The client has no hiring history or feedback, scoring 0 points. The post is 5 days old, scoring 1 point. It requires expertise in AI and blockchain, aligning with 3+ skills from the given skills, scoring 5 points. The primary focus is on AI and blockchain, matching the core requirements."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 2,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $34-62, scoring 2 points. The client has hired 3 freelancers and has a feedback score of 5, earning 2 points. The post is 5 days old, giving it 1 point. It requires multiple relevant skills, including AI, automation, and workflow integration, scoring 5 points. The primary focus is on AI and automation, aligning with the given skills, thus marked as true."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 1,
            "client_history": 2,
            "post_freshness": 1,
            "skill_relevance": 0,
            "primary_skill_focus": false,
            "rationale": "The job post offers an hourly budget of $13-$40, scoring 1 point for budget attractiveness. The client has a history of 23 hires and a feedback score of 4.63, earning 2 points for client history. The post is 5 days old, which gives it 1 point for freshness. There are no skills explicitly mentioned in the job post that align with the given skills, resulting in 0 points for skill relevance. The primary skill focus is false as the job does not emphasize the required skills as core requirements."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 1,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly rate of $30-59, which scores 2 points. The client has hired 29 times, but their feedback score is 3.57, which does not meet the 4.5 threshold, giving 1 point. The post is 5 days old, scoring 1 point. It requires expertise in fine-tuning and AI projects, aligning with 3+ skills from the given skills, scoring 5 points. The primary focus is on AI skills, confirming a true value for primary_skill_focus."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 0,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $30-60, scoring 2 points for budget attractiveness. The client has no hiring history or feedback, scoring 0 points for client history. The post is 5 days old, scoring 1 point for freshness. It requires 5 relevant skills from the given list, scoring 5 points for skill relevance. The primary skill focus is true as the job emphasizes the required skills as core requirements."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 0,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post has an hourly budget of $25-70, scoring 2 points. The client has no hiring history or feedback, scoring 0 points. The post is 5 days old, scoring 1 point. It requires 3+ relevant skills from the given skills, scoring 5 points. The primary skill focus is true as the job description emphasizes skills matching the given skills."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 0,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $25-$47, which scores 2 points. The client has no hiring history or feedback, scoring 0 points. The post is 5 days old, scoring 1 point. It requires 3+ relevant skills from the given skills, scoring 5 points. The primary skill focus is true as the job description emphasizes skills matching the given skills as core requirements."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 2,
            "client_history": 0,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $30-60, which scores 2 points. The client has no hiring history or feedback, scoring 0 points. The post is 5 days old, scoring 1 point. It requires 3 relevant skills (AI, ML, API Integration), scoring 5 points. The primary focus is on AI and ML, matching the given skills, thus scoring true."
          }
        }
      },
      {
        "json": {
          "output": {
            "budget_attractiveness": 1,
            "client_history": 0,
            "post_freshness": 1,
            "skill_relevance": 5,
            "primary_skill_focus": true,
            "rationale": "The job post offers an hourly budget of $15-$40, which scores 1 point. The client has hired 2 freelancers but has no feedback or total spent over $2k, scoring 0 points. The post is 4 days old, scoring 1 point. It requires 3 skills (Botpress, n8n, and API Integration) from the given skills, scoring 5 points. The primary skill focus is true as the job emphasizes Botpress and n8n as core requirements."
          }
        }
      }
    ]
  },
  "connections": {
    "GetTabelRecords": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "ExtractSkills",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ExtractSkills",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "KeepSkillsStrOnly": {
      "main": [
        [
          {
            "node": "MergeIdAndSkills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KeepIdOnly": {
      "main": [
        [
          {
            "node": "MergeIdAndSkills",
            "type": "main",
            "index": 1
          },
          {
            "node": "MergeIdAndScore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeIdAndSkills": {
      "main": [
        [
          {
            "node": "UpdateDataWithSkills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "ScoreJobPost",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "ScoreJobPost",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ExtractSkills": {
      "main": [
        [
          {
            "node": "SkillsToString",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SkillsToString": {
      "main": [
        [
          {
            "node": "KeepSkillsStrOnly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetJobPostDate": {
      "main": [
        [
          {
            "node": "CalculateJobFreshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelectImportandMetadata": {
      "main": [
        [
          {
            "node": "CalculateUnwantedPosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertMetadataJsonToString": {
      "main": [
        [
          {
            "node": "ScoreJobPost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScoreJobPost": {
      "main": [
        [
          {
            "node": "ProcessScoreOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProcessScoreOutput": {
      "main": [
        [
          {
            "node": "MergeIdAndScore",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MergeIdAndScore": {
      "main": [
        [
          {
            "node": "GenerateJobLink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateGoogleSheet": {
      "main": [
        [
          {
            "node": "GetProjects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateJobLink": {
      "main": [
        [
          {
            "node": "UpdateDataWithScore",
            "type": "main",
            "index": 0
          },
          {
            "node": "KeepHighScoreJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "GenerateCoverLetter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "GenerateCoverLetter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GenerateCoverLetter": {
      "main": [
        [
          {
            "node": "ProcessCoverLetterOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KeepHighScoreJobs": {
      "main": [
        [
          {
            "node": "GenerateCoverLetter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProcessCoverLetterOutput": {
      "main": [
        [
          {
            "node": "CombineResults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "CreateGoogleSheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetProjects",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        []
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "AddTopProjects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SheetToDelete": {
      "main": [
        [
          {
            "node": "RemoveOldSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendTopProjectsLink": {
      "main": [
        []
      ]
    },
    "AddTopProjects": {
      "main": [
        [
          {
            "node": "SendTopProjectsLink",
            "type": "main",
            "index": 0
          },
          {
            "node": "SheetToDelete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveUnwantedColumns": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetProjects": {
      "main": [
        [
          {
            "node": "RemoveUnwantedColumns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CombineResults": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateJobFreshness": {
      "main": [
        [
          {
            "node": "SelectImportandMetadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateUnwantedPosts": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "ConvertMetadataJsonToString",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetTabelRecords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveOldSheet": {
      "main": [
        []
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "KeepIdOnly",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetJobPostDate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c72cb111-783b-457a-b935-7a05318fb573",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3efcfde096030ef629c2548c783c58b40fa283429610aa7f87d8700eb40270e"
  },
  "id": "CLqmAV4yLRgEnvPF",
  "tags": []
}
